<div class="row">
  <div class="col-md-8 mx-auto" style="max-width:1000px;">
    <% if logged_in? %>
    <%= render 'shared/user_info' %>
    <%= render 'shared/post_form' %>
  </div>
</div>
<%# 投稿詳細モーダル表示場所 %>
<div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="postModalLabel" aria-hidden="true"></div>
<hr>
<div class="feed_area">
  <%= render 'shared/root_user_feed_list' %>
</div>
<% else %>
<div class="row">
  <div class="col-md-8 mx-auto">
    <h1>Bookwormへようこそ！</h1>
    <p>学んだことを気軽に投稿＆実践しましょう！（仮）</p>
    <p><%= link_to "新規登録はこちら", signup_path, class: "btn btn-lg btn-primary" %></p>
    <p><%= link_to "ログインはこちら", login_path, class: "btn btn-lg btn-primary" %></p>
    <% end %>
  </div>
</div>