<% if logged_in? %>
<div class="row">
  <div class="col-md-8 mx-auto">
    <%= render 'users/user_profile' %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-8 mx-auto">

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="pills-all-tab" data-bs-toggle="pill" href="#pills-all" role="tab"
          aria-controls="pills-all" aria-selected="true">全ての投稿</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="pills-mine-tab" data-bs-toggle="pill" href="#pills-mine" role="tab"
          aria-controls="pills-mine" aria-selected="false">自分の投稿</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="pills-doing-tab" data-bs-toggle="pill" href="#pills-doing" role="tab"
          aria-controls="pills-doing" aria-selected="false">実践中</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="pills-want-tab" data-bs-toggle="pill" href="#pills-want" role="tab"
          aria-controls="pills-want" aria-selected="false">実践したい</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="pills-master-tab" data-bs-toggle="pill" href="#pills-master" role="tab"
          aria-controls="pills-master" aria-selected="false">身についた</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="pills-like-tab" data-bs-toggle="pill" href="#pills-like" role="tab"
          aria-controls="pills-like" aria-selected="false">いいね</a>
      </li>
    </ul>

    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
        <h3>投稿一覧</h3>
        <%= render 'shared/feed' %>
      </div>
      <div class="tab-pane fade" id="pills-mine" role="tabpanel" aria-labelledby="pills-mine-tab">自分の投稿
        <%# 動作しない↓ %>
        <%#= render 'users/user_feed', user: @user, posts: @posts %>
      </div>
      <div class="tab-pane fade" id="pills-doing" role="tabpanel" aria-labelledby="pills-doing-tab">実践中</div>
      <div class="tab-pane fade" id="pills-want" role="tabpanel" aria-labelledby="pills-want-tab">実践したい</div>
      <div class="tab-pane fade" id="pills-master" role="tabpanel" aria-labelledby="pills-master-tab">身についた</div>
      <div class="tab-pane fade" id="pills-like" role="tabpanel" aria-labelledby="pills-like-tab">
        <h3>いいね一覧</h3>
        <%= render 'users/like_feed', likes: @user.like_posts.page(params[:page]).per(5) %>
      </div>
    </div>
  </div>
  <% else %>
  <h1>Bookwormへようこそ！</h1>
  <ul>
    <li class="py-3"><%= link_to "新規登録はこちら", signup_path, class: "btn btn-lg btn-primary" %></li>
    <li><%= link_to "ログインはこちら", login_path, class: "btn btn-lg btn-primary" %></li>
  </ul>
</div>
<% end %>