<% provide(:title, "質問編集") %>
<h2>質問編集</h2>

<div class="row">
  <div class="col-md-6 mx-auto">
    <%= form_with(model: @topic) do |f| %>
    <div>
      <%= render 'shared/error_messages', object: f.object %>
    </div>
    <%= f.label :タイトル %>
    <%= f.text_field :title, placeholder: "タイトル", class: 'form-control' %>
    <%= f.label :質問内容 %>
    <%= f.text_area :content, placeholder: "詳細があれば追加", class: "p-2" %>
    <%#= f.select :solve_status, [["未解決", 0], ["解決した", 1]], {include_blank: "解決状況"}, class: 'form-select' %>
    <%= f.label :solve_status do %>
    <%= f.check_box :solve_status, :as => :boolean, style: "width:auto;" %>
    <span class="text-danger">「解決済み」にする(コメントができなくなります)(チェックを外すとまた受け付けられます)</span>
    <% end %>

    <%= f.submit '編集完了', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>