<% provide(:title, "質問してみる") %>
<h2>質問掲示板</h2>
<p>気になっていることなどを質問してみましょう！</p>
<div class="row">
  <div class="col-md-6 mx-auto">
    <%= form_with(model: @topic) do |f| %>
    <div>
      <%= render 'shared/error_messages', object: f.object %>
    </div>
    <%= f.text_field :title, placeholder: "質問のタイトル", class: 'form-control' %>
    <%= f.text_area :content, placeholder: "詳細があれば入力してください！", class: "p-2" %>
    <%= f.submit '質問を追加', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<hr style="margin:0">

<div class="row">
  <div class="col-md-8 mx-auto">
    <ul style="padding-top:20px;">
      <% @topics.reverse.each do |topic| %>
      <li class="topic-content" style="background: #fff; margin-bottom:20px; text-align:left; padding:20px;">
        <div class="topic-card">
          <%# 詳細ページではliをリンクにしない %>
          <% unless current_page?(topic_path(topic)) %>
          <div class="topic-card-title"><a href="<%= topic_path(topic)%>"></a></div>
          <% end %>
          <div class="topic-card-title">
            <div class="topic-upper">
              <p>
                <%= link_to gravatar_for(topic.user, size: 30), topic.user %>
                <%= link_to topic.user.name, topic.user, style: "margin-right:4px;" %>が
                <%= topic.created_at.to_s(:datetime_jp) %>に追加
              </p>
            </div>
            <div class="topic-middle">
              <%= link_to topic.title, topic_path(topic), style: "text-decoration:none; font-weight:bold; font-size:20px;" %>
              <% if topic.solve_status %>
              <p style="background:#800000; color:#fff; display:inline-block; padding:0 3px;">クローズ</p>
              <% end %>
            </div>
            <div class="topic-lower" style="display:flex;">
              <div style="font-size:18px; margin-right:5px;">
                <i class="far fa-comment-alt"></i>
                <%= topic.topic_comments.count %>
              </div>
              <div style="font-weight:bold;">
                <% if topic.solve_status %>
                <p>解決済み</p>
                <% else %>
                <p>未解決</p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>