<h2>質問</h2>
<p>タイトル：<%= @topic.title %></p>
<p>内容：<%= @topic.content %></p>

<div class="row">
  <div class="col-md-6 mx-auto">
    <%= form_with(model:[@topic, @topic_comment], method: :post) do |f| %>
    <%= f.text_area :topic_comment_content, placeholder: "コメントを追加する" %>
    <%= f.hidden_field :topic_id, value: @topic.id %>
    <%= f.submit 'コメントする', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<hr>
<p>コメント一覧</p>
<% if @topic_comments.present? %>
<ul>
  <% @topic_comments.reverse.each do |comment| %>
  <li class="bg-warning" style="margin-bottom:20px;">
    <p>コメント：<%= comment.topic_comment_content %></p>
  </li>
  <% end %>
</ul>
<% end %>