<h2>質問</h2>
<p>タイトル：<%= @topic.title %></p>
<p>内容：<%= @topic.content %></p>

<div class="row">
  <div class="col-md-6 mx-auto">
    <%= form_with(model:[@topic, @comment], method: :post) do |f| %>
    <%= f.text_area :content, placeholder: "コメントを追加する" %>
    <%= f.hidden_field :topic_id, value: @topic.id %>
    <%= f.submit 'コメントする', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<hr>
<p>コメント一覧</p>

<% if @topic.comments.present? %>
<%= @comments.each do |comment| %>
<%= comment.content %>
<% end %>
<% end %>