<section class="user_info">
  <% if !current_page?(root_path) %>
  <%= render 'shared/user_info', user: @user %>
  <% elsif current_page?(root_path) %>
  <%= render 'shared/root_user_info', user: current_user %>
  <% end %>
</section>
<section class="user_info">
  <%= render 'shared/stats' %>
</section>
<% if current_user?(@user) %>
<section class="post_form">
  <%= render 'shared/post_form' %>
</section>
<% end %>
<section>
  <%= render 'users/follow_form' if logged_in? %>
</section>