<% provide(:title, "ユーザー情報変更") %>
<h1>ユーザー情報変更</h1>

<div class="row">
  <div class="col-md-6 mx-auto">
    <%= form_with(model: @user, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :お名前 %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :メールアドレス %>
    <%= f.email_field :email, class: 'form-control' %>

    <%= f.label :パスワード %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.label :password_confirmation, "パスワード（確認）" %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>

    <%= f.submit "変更を保存", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="https://gravatar.com/emails" target="_blank">画像を変更</a>
    </div>

    <%= link_to "退会する", @user, method: :delete, data: { confirm: "本当によろしいですか？" } %>
  </div>
</div>