<% provide(:title, 'ユーザー一覧') %>
<h1>ユーザー一覧</h1>
<ul class="users col-md-6 mx-auto">

  <%= form_with url: search_users_path, method: :get do |f| %>
  <%= f.text_field :keyword %>
  <%= f.submit "検索" %>
  <% end %>

  <% @users.each do |user| %>
  <li class="d-flex">
    <%= gravatar_for user, size: 50 %>
    <%= link_to user.name, user %>
    <% if logged_in? && current_user.admin? %>
    <%= link_to "退会する", user, method: :delete, data: { confirm: "本当によろしいですか？" } %>
    <% end %>
  </li>
  <% end %>

  <%= paginate @users %>
</ul>