<% provide(:title, '新規登録') %>
<h1>新規登録</h1>

<div class="row">
    <div class="col">
        <%= form_with(model: @user, local: true) do |f| %>
        <%= f.label :ユーザー名 %>
        <%= f.text_field :name %>

        <%= f.label :メールアドレス %>
        <%= f.email_field :email %>

        <%= f.label :パスワード %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "確認用" %>
        <%= f.password_field :password_confirmation %>

        <%= f.submit "新規登録", class: "btn btn-primary" %>
        <%#= f.submit "Googleアカウントで登録", class: "btn btn-primary" %>
        <%#= f.submit "ゲストログイン", class: "btn btn-primary" %>
        <%#= link_to "登録済みですか？ログイン","#" %>
        <% end %>
    </div>
</div>