<% provide(:title, @user.name) %>
<%# 投稿詳細モーダル表示場所 %>
<div class="row">
  <div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="postModalLabel" aria-hidden="true"></div>
  <div class="col-md-8 mx-auto">
    <%= gravatar_for @user %>
    <h1><%= @user.name %>さん</h1>
    <%= render 'shared/stats' %>
    <%= render 'follow_form' if logged_in? %>
    <% if current_user?(@user) %>
    <%= link_to "プロフィールを編集", edit_user_path(current_user) %>
    <% end %>
    <% unless @user.profile.blank? %>
    <p>プロフィール</p>
    <div class="border border-dark w-50 mx-auto">
      <p><%= simple_format(@user.profile) %></p>
    </div>
    <% end %>
    <hr>
    <%= render 'shared/user_feed_list' %>
  </div>
</div>