<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <p><%= @user.name %>さんのプロフィール</p>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render 'follow_form' if logged_in? %>
    </section>
    <section>
      <%= link_to "いいね一覧", like_list_path(@user) %>
    </section>
  </aside>
  <div class="col-md-6">
    <h3>投稿一覧(<%= @user.posts.count %>)</h3>
    <% if @user.posts.any? %>
    <ol class="posts">
      <%= render @posts %>
    </ol>
    <%= will_paginate @posts %>
    <% else %>
    <p>まだ何も投稿していません</p>
    <% end %>
  </div>
</div>