<% provide(:title, @user.name) %>
<section class="user_info">
  <% if !current_page?(root_path) %>
  <%= render 'shared/user_info', user: @user %>
  <% elsif current_page?(root_path) %>
  <%= render 'shared/root_user_info', user: current_user %>
  <% end %>
</section>
<section class="user_info">
  <%= render 'shared/stats' %>
</section>
<section>
  <%= render 'users/follow_form' if logged_in? %>
</section>

<% if current_user?(@user) %>
<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
  aria-expanded="false" aria-controls="collapseExample">
  プロフィールを編集
</button>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <%= form_with(model: @user, local: true) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.label :自己紹介 %>
        <%= f.text_area :profile,  class: 'form-control' %>
        <%= f.submit "変更を保存", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
<% unless @user.profile.nil? %>
<div class="border border-dark p-2 w-50 mx-auto">
  <p><%= simple_format(@user.profile) %></p>
</div>
<% end %>

<hr>

<div class="row">
  <div class="col-md-8 mx-auto">
    <%= render 'shared/user_feed_list' %>
  </div>
</div>