<% provide(:title, @title) %>
<div class="row">
  <div class="col-md-8 mx-auto">
    <section class="user_info">
      <%= gravatar_for @user %>
      <h1><%= @user.name %>さん</h1>
      <span><%= link_to "プロフィールを表示", @user %></span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-8 mx-auto">
    <h3><%= @title %></h3>
    <% if @users.any? %>
    <ul class="users follow">
      <%= render @users %>
    </ul>
    <%= paginate @users %>
    <% elsif current_page?("/users/#{@user.id}/following") %>
    <p>誰もフォローしていません</p>
    <% elsif current_page?("/users/#{@user.id}/followers") %>
    <p>誰にもフォローされていません</p>
    <% end %>
  </div>
</div>