<% provide(:title, @user.name) %>
<section class="user_info">
  <% if !current_page?(root_path) %>
  <%= render 'shared/user_info', user: @user %>
  <% elsif current_page?(root_path) %>
  <%= render 'shared/root_user_info', user: current_user %>
  <% end %>
</section>
<section class="user_info">
  <%= render 'shared/stats' %>
</section>
<section>
  <%= render 'users/follow_form' if logged_in? %>
</section>

<% if current_user?(@user) %>
<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
  aria-expanded="false" aria-controls="collapseExample">
  プロフィールを編集
</button>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <%= form_with(model: @user, local: true) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.label :自己紹介 %>
        <%= f.text_area :profile,  class: 'form-control' %>
        <%= f.submit "変更を保存", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
<% unless @user.profile.nil? %>
<div class="border border-dark p-2 w-50 mx-auto">
  <p><%= simple_format(@user.profile) %></p>
</div>
<% end %>

<hr>

<div class="row">
  <div class="col-md-8 mx-auto">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="pills-all-tab" data-bs-toggle="pill" href="#pills-all" role="tab"
          aria-controls="pills-all" aria-selected="true">投稿一覧</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="pills-want-tab" data-bs-toggle="pill" href="#pills-want" role="tab"
          aria-controls="pills-want" aria-selected="false">実践したい</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="pills-doing-tab" data-bs-toggle="pill" href="#pills-doing" role="tab"
          aria-controls="pills-doing" aria-selected="false">実践中</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="pills-master-tab" data-bs-toggle="pill" href="#pills-master" role="tab"
          aria-controls="pills-master" aria-selected="false">身についた</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="pills-like-tab" data-bs-toggle="pill" href="#pills-like" role="tab"
          aria-controls="pills-like" aria-selected="false">いいね</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
        <h3>投稿一覧</h3>
        <%= render 'users/user_feed', user: @user, posts: @user.posts.page(params[:page]).per(5) %>
      </div>
      <div class="tab-pane fade" id="pills-want" role="tabpanel" aria-labelledby="pills-want-tab">
        <h3>実践したい一覧</h3>
        <%= render 'users/want_feed', user: @user %>
      </div>
      <div class="tab-pane fade" id="pills-doing" role="tabpanel" aria-labelledby="pills-doing-tab">
        <h3>実践中一覧</h3>
        <%= render 'users/doing_feed', user: @user %>
      </div>
      <div class="tab-pane fade" id="pills-master" role="tabpanel" aria-labelledby="pills-master-tab">
        <h3>身についた</h3>
        <%= render 'users/master_feed', user: @user %>
      </div>
      <div class="tab-pane fade" id="pills-like" role="tabpanel" aria-labelledby="pills-like-tab">
        <h3>いいね一覧</h3>
        <%= render 'users/like_feed', likes: @user.like_posts.page(params[:page]).per(5) %>
      </div>
    </div>
  </div>
</div>