<%= form_with(model: @post) do |f| %>
<%# undefined method `errors' for nil:NilClassが解決できないので一旦コメント %>
<%#= render 'shared/error_messages', object: f.object %>
<div class="field">
  <%= f.text_area :content, placeholder: "何か入力してください！" %>
</div>
<span class="image">
  <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
</span>
<%= render 'shared/action_form', f: f %>
<%= f.submit "投稿する", class: "btn btn-primary" %>
<% end %>