<%= form_with(model: @post, local: false) do |f| %>
<div id="validation">
  <%= render 'shared/error_messages', object: f.object %>
</div>
<div class="field">
  <%= f.text_area :content, placeholder: "何か入力してください！" %>
</div>
<span class="image">
  <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
</span>
<%= render 'posts/action_form', f: f %>
<%= f.submit "投稿する", class: "btn btn-primary" %>
<% end %>