<%= form_with(model: @post, local: false) do |f| %>
<div id="validation">
  <%= render 'shared/error_messages', object: f.object %>
</div>
<div class="field">
  <%= f.text_area :content, rows: 4, placeholder: "何か入力してください！", class: 'form-control' %>
</div>
<span class="image">
  <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png", class: 'form-control' %>
</span>
<div>
  <%= f.text_field :url, placeholder: "URLがある場合入力してください", class: 'form-control' %>
</div>
<div>
  <%= render 'posts/action_form', f: f %>
</div>
<div>
  <%= f.check_box :privacy, :as => :boolean, style: "width:auto;" %>
  <%= f.label :privacy , "この投稿を自分だけ閲覧可能にする" %>
</div>
<%= f.submit "投稿する", class: "btn btn-primary" %>
<% end %>