<ul class="nav nav-pills mb-3 sticky-top bg-white" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="pills-all-tab" data-bs-toggle="pill" href="#pills-all" role="tab"
      aria-controls="pills-all" aria-selected="true">全ての投稿</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-mine-tab" data-bs-toggle="pill" href="#pills-mine" role="tab"
      aria-controls="pills-mine" aria-selected="false">自分の投稿</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-want-tab" data-bs-toggle="pill" href="#pills-want" role="tab"
      aria-controls="pills-want" aria-selected="false">実践したい</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-doing-tab" data-bs-toggle="pill" href="#pills-doing" role="tab"
      aria-controls="pills-doing" aria-selected="false">実践中</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-master-tab" data-bs-toggle="pill" href="#pills-master" role="tab"
      aria-controls="pills-master" aria-selected="false">身についた</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-like-tab" data-bs-toggle="pill" href="#pills-like" role="tab"
      aria-controls="pills-like" aria-selected="false">いいね</a>
  </li>
</ul>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
    <%= render 'shared/feed', user: current_user, posts: @all_posts %>
  </div>
  <div class="tab-pane fade" id="pills-mine" role="tabpanel" aria-labelledby="pills-mine-tab">
    <%= render 'shared/feed', user: current_user, posts: @user_posts %>
  </div>
  <div class="tab-pane fade" id="pills-want" role="tabpanel" aria-labelledby="pills-want-tab">
    <%= render 'shared/feed', user: current_user, posts: @want_posts %>
  </div>
  <div class="tab-pane fade" id="pills-doing" role="tabpanel" aria-labelledby="pills-doing-tab">
    <%= render 'shared/feed', user: current_user, posts: @doing_posts %>
  </div>
  <div class="tab-pane fade" id="pills-master" role="tabpanel" aria-labelledby="pills-master-tab">
    <%= render 'shared/feed', user: current_user, posts: @master_posts %>
  </div>
  <div class="tab-pane fade" id="pills-like" role="tabpanel" aria-labelledby="pills-like-tab">
    <%= render 'shared/feed', user: current_user, posts: @like_posts %>
  </div>
</div>