<% provide(:title, '投稿編集') %>
<h1>投稿編集</h1>
<div class="mx-auto col-md-6">
  <%= form_with(model: @post, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, rows: 4, placeholder: "学んだことや思いついたことなど、何でも入力しましょう！", class: 'form-control' %>
  </div>
  <span class="image">
    <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png", class: 'form-control' %>
  </span>
  <%# URL短縮 %>
  <div>
    <%= f.text_field :url, placeholder: "URLがある場合入力してください(リンクになります)", class: 'form-control' %>
  </div>
  <%= render 'posts/action_form', f: f %>
  <div>
    <%= f.label :privacy do %>
    <%= f.check_box :privacy, :as => :boolean, style: "width:auto;" %>
    <span>この投稿を自分だけ閲覧可能にする</span>
    <% end %>
  </div>
  <%= f.submit "更新する", class: "btn btn-primary" %>
  <% end %>
  <p class="text-start"> <%= link_to '戻る', 'javascript:history.back()' %></p>
</div>