<li id="post-<%= post.id %>">
  <span class="post_upper d-flex">
    <%= link_to gravatar_for(post.user, size: 50), post.user %>
    <span class="user"><%= link_to post.user.name, post.user %></span>
    <span class="timestamp">
      <%= post.created_at.to_s(:datetime_jp) %>
    </span>
    <% if current_user?(post.user) %>
    <div class="dropdown">
      <button class="btn btn-light border" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
        aria-expanded="false">
        &#x22EE;
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><%= link_to "編集する", edit_post_path(post), class:"dropdown-item" %></li>
        <li>
          <%= link_to "削除する", post, method: :delete, data: { confirm: "削除すると戻せません。よろしいですか？" }, class:"dropdown-item" %>
        </li>
      </ul>
    </div>
    <% end %>
  </span>
  <div class="post_content d-flex flex-column my-4">
    <span class="content border border-secondary border-2 mb-4 p-2"><%= simple_format(post.content) %></span>
  </div>
  <%= image_tag post.display_image  if post.image.attached? %>
  <div class="d-flex align-items-center">
    <% if !post.action.blank? %>
    <div class="me-2">
      <i class="fas fa-tag"></i>
      <%= post.action %>
    </div>
    <% end %>
    <div><%= link_to '詳細', post_path(post), method: :get, class: 'me-2' %></div>
    <%# コメントボタン %>
    <div>
      <i class="far fa-comment-alt"></i>
      <%= post.comments.count %>
    </div>
    <%# いいねボタン %>
    <div class="ms-2" id="like-button-#{post.id}">
      <!-- すでにいいねされている時 -->
      <% if current_user&.like?(post)  %>
      <%= render 'likes/unlike', post: post %>
      <!-- まだいいねしていない時 -->
      <% else %>
      <%= render 'likes/like', post: post %>
      <% end %>
    </div>
    <%# SNSボタン %>
    <div class="ms-2">
      <%# 画像も共有可能にしたい↓ %>
      <%= link_to 'ツイート', "https://twitter.com/share?url=#{request.url}&text=#{post.content}", title: 'Twitter',
      target: '_blank', rel: "noopener noreferrer", lang:"ja", class:"twitter-share-button" %>
    </div>
  </div>
</li>