<li id="post-<%= post.id %>">
  <span class="post_upper">
    <%= link_to gravatar_for(post.user, size: 50), post.user %>
    <span class="user"><%= link_to post.user.name, post.user %></span>
    <span class="timestamp">
      <%= post.created_at.to_s(:datetime_jp) %>
    </span>
  </span>
  <span class="content"><%= post.content %></span>
  <%= image_tag post.display_image  if post.image.attached? %>
  <span class="links">
    <% if current_user?(post.user) %>
    <%= link_to "編集する" %>
    <%= link_to "削除する", post, method: :delete, data: { confirm: "削除すると戻せません。よろしいですか？" } %>
    <% end %></span>
  <span class="buttons">
    <%#= link_to "いいね" %>
    <%#= link_to "コメント" %>
    <%#= link_to "共有" %>
  </span>

  <div>
    <!-- すでに「いいね」されている時の表示 -->
    <% if current_user&.like?(post)  %>
    <%= form_with(model: @like, url: like_path(id: post.id), local: true, method: :delete) do |f| %>
    <%= f.hidden_field :post_id, value: post.id %>
    <%= f.submit 'いいね解除' %>
    <p>いいね数：<%= post.likes.count %></p>
    <% end %>

    <!-- まだ「いいね」していない時の表示 -->
    <% else %>
    <%= form_with(model: @like, url: likes_path, local: true) do |f| %>
    <%= f.hidden_field :post_id, value: post.id %>
    <%= f.submit 'いいねする' %>
    <p>いいね数：<%= post.likes.count %></p>
    <% end %>
    <% end %>
  </div>

</li>