<li id="post-<%= post.id %>">
  <div class="card <%= 'card-shadow' unless current_page?(post_path(post)) %>">
    <%# 詳細ページではliをリンクにしない %>
    <% unless current_page?(post_path(post)) %>
    <div class="card-title"><a href="<%= post_path(post)%>" data-remote="true"></a></div>
    <% end %>
    <div class="card-tags">
      <%# ユーザー情報・投稿日 %>
      <div class="post_user_info">
        <%= link_to gravatar_for(post.user, size: 50), post.user %>
        <%= link_to post.user.name, post.user %>
        <span class="timestamp"><%= post.created_at.to_s(:datetime_jp) %></span>
      </div>
      <%# 投稿中身 URL欄じゃなくてもURLをリンクにする %>
      <div class="post_content">
        <%= simple_format(post.content) %>
        <%= image_tag post.display_image  if post.image.attached? %>
      </div>
      <%# URL短縮 %>
      <% truncate_url = truncate(post.url, :length => 40) %><%= link_to(truncate_url, post.url, target: "_blank", rel: "noopener noreferrer", class: "truncate_url") %>
      <%# ボタン部分 %>
      <div class="post_button_area">
        <%# 投稿タグ %>
        <% if post.tag.present? %>
        <div>
          <i class="fas fa-tag"></i>
          <%= post.tag %>
        </div>
        <% end %>
        <%# コメント アイコンを一覧だけでリンクにする→いい書き方がわからないのでベタ書き %>
        <% unless current_page?(post_path(post)) %>
        <span class="c-tooltip" data-tooltip="コメント数">
          <%= link_to post_path(post), remote: true do %>
          <div id="comment_count">
            <i class="far fa-comment-alt"></i>
            <%= post.comments.count %>
          </div>
          <% end %>
        </span>
        <% else %>
        <span class="c-tooltip" data-tooltip="コメント数" style="cursor:default;">
          <div id="comment_count">
            <i class="far fa-comment-alt"></i>
            <%= post.comments.count %>
          </div>
        </span>
        <% end %>

        <%# いいね %>
        <% unless current_page?(private_posts_path) %>
        <span class="c-tooltip" data-tooltip="いいね">
          <div class="like" id="like_area">
            <div id="like-button-<%= post.id %>">
              <% if current_user&.like?(post)  %>
              <%= render 'likes/unlike', post: post %>
              <% else %>
              <%= render 'likes/like', post: post %>
              <% end %>
            </div>
          </div>
        </span>
        <% end %>

        <%# ツイッター URLがうまく取得できないのでベタ書き %>
        <% if Rails.env.development? %>
        <%= link_to 'ツイート', "https://twitter.com/share?url=http://localhost:3000/posts/#{post.id}&text=#{post.content}", title: 'Twitter',
      target: '_blank', rel: "noopener noreferrer", lang: "ja", class: "twitter-share-button" %>
        <% elsif Rails.env.production? %>
        <% if Rails.env.production? %>
        <%= link_to 'ツイート', "https://twitter.com/share?url=https://pf-advancey.com/posts/#{post.id}&text=#{post.content}", title: 'Twitter',
      target: '_blank', rel: "noopener noreferrer", lang: "ja", class: "twitter-share-button" %>
        <% end %>

        <%# 投稿主だけに表示 %>
        <% if current_user?(post.user) %>
        <%# 編集 %>
        <span class="c-tooltip" data-tooltip="編集する">
          <%= link_to edit_post_path(post) do %>
          <i class="far fa-edit"></i>
          <% end %>
        </span>
        <%# 削除 %>
        <span class="c-tooltip" data-tooltip="削除する" style="margin-left:auto">
          <%= link_to post, remote: true, method: :delete, data: { confirm: "削除すると戻せません。よろしいですか？" } do %>
          <i class="far fa-trash-alt"></i>
          <% end %>
        </span>
        <% end %>
      </div>
    </div>
  </div>
</li>