<div class="row">
  <div class="col-md-6 mx-auto">
    <p>お名前 : <%= @inquiry.name %></p>
    <p>メールアドレス : <%= @inquiry.email %></p>
    <p>メッセージ : <%= @inquiry.message %></p>
  </div>
</div>

<%= form_for(@inquiry) do |f| %>
<%= f.hidden_field :name %>
<%= f.hidden_field :email %>
<%= f.hidden_field :message %>
<%= f.submit '送信', class: "btn btn-primary" %>
<% end %>
<%= form_for @inquiry, url: back_path do |f| %>
<%= f.hidden_field :name %>
<%= f.hidden_field :email %>
<%= f.hidden_field :message %>
<%= f.submit '入力画面に戻る', class: "btn btn-primary" %>
<% end %>