<% provide(:title, 'お問い合わせ') %>
<h1>お問い合わせ</h1>
<div class="col-md-6 mx-auto">
  <%= form_with(model: @inquiry, url: confirm_path) do |f| %>
  <%= f.label :name, 'お名前' %>
  <%= f.text_field :name, autofocus: true, placeholder:'田中太郎', class: 'form-control' %>

  <%= f.label :メールアドレス %>
  <%= f.email_field :email, placeholder:'hoge@example.com', class: 'form-control' %>

  <%= f.label :message, 'メッセージ' %>
  <%= f.text_area :message, placeholder:'お問い合わせ内容', size: '1x4', class: 'form-control' %>

  <%= f.submit '入力内容確認', class: "btn btn-primary" %>
  <% end %>
</div>