<nav class="navbar navbar-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-light">
    <ul class="nav nav-pills flex-column mb-auto text-start">
      <li><%= link_to "Bookworm", root_path, id: "logo",class:"fs-4 text-decoration-none link-dark" %></li>
      <li><%= link_to "ホーム", root_path %></li>
      <%# current_userはif_logged_in内に入れる %>
      <% if logged_in? %>
      <li><%= link_to "プロフィール", user_path(current_user) %></li>
      <li><%= link_to "ユーザー一覧", users_path %></li>
      <li><%= link_to "このサイトについて", about_path %></li>
      <li><%= link_to "お問い合わせ", contact_path %></li>
      <hr>
      <li class="dropdown">
        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
          id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          <%= gravatar_for current_user, size: 32 %>
          <strong><%= current_user.name %></strong>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><%= link_to "ユーザー情報編集",  edit_user_path(current_user) , class:"dropdown-item" %></li>
          <li><%= link_to "ログアウト", logout_path, method: :delete, class:"dropdown-item" %></li>
        </ul>
      </li>
      <% else %>
      <li><%= link_to "ログイン", login_path %></li>
      <% end %>
    </ul>
  </div>
</div>