<header class="pc-only">
  <div class="header_inner">

    <div class="header_left">
      <%= link_to "Bookworm", root_path, id: "logo", class:"header_logo fs-4 text-decoration-none link-dark" %>
      <div class="header_search_form">
        <%= form_with url: search_posts_path, method: :get do |f| %>
        <%= f.text_field :keyword, placeholder: "投稿検索", class: "form-control" %>
        <%= render 'posts/action_form', f: f %>
        <%= f.submit "検索", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

    <ul class="header_nav">
      <li class="nav-item"><%= link_to "ユーザー一覧", users_path %></li>
      <li class="nav-item"><%= link_to "このサイトについて", about_path %></li>
      <li class="nav-item"><%= link_to "お問い合わせ", contact_path %></li>
      <li class="nav-item"><%= link_to "掲示板", topics_path %></li>
      <% if logged_in? %>
      <li class="dropdown">
        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
          id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          <%= gravatar_for current_user, size: 32 %>
          <strong><%= current_user.name %></strong>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><%= link_to "プライベート投稿一覧", private_posts_path, class: "dropdown-item" %></li>
          <li><%= link_to "プロフィール", user_path(current_user), class: "dropdown-item" %></li>
          <li><%= link_to "ユーザー情報編集",  edit_user_path(current_user) , class: "dropdown-item" %></li>
          <li><%= link_to "ログアウト", logout_path, method: :delete, class: "dropdown-item" %></li>
        </ul>
      </li>
      <li class="pc-only"><%= link_to "投稿する", new_post_path, remote: true, class: "btn btn-primary" %></li>
      <% else %>
      <li><%= link_to "ログイン", login_path %></li>
      <li><%= link_to "ゲストログイン", guest_path, method: :post %></li>
      <% end %>
    </ul>
  </div>
</header>