<!DOCTYPE html>
<html>

<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= favicon_link_tag('favicon.ico') %>

  <%# 無限スクロール %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>

  <%# ツイッターアイコン使用 %>
  <%# シェアボタンつけないなら削除 %>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
<![endif]-->
</head>

<body>
  <%# 投稿ボタンのモーダル  %>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
  <div class="wrapper">
    <aside class="pc-only">
      <div>
        <%= render 'layouts/sidebar' %>
      </div>
    </aside>
    <div class="main burger-parent">
      <% if logged_in? %>
      <div class="burger-child sp-only">
        <%= render 'layouts/burger' %>
      </div>
      <% end %>
      <div id="flash_message" class="flash-fixed">
        <%# js.erbで読み込んでない時必要（ログインとか） %>
        <%= render 'layouts/flash' %>
      </div>
      <div id="post-modal">
        <%#= render 'posts/modal' %>
      </div>
      <%# 他のhtml.erb読み込み↓ %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </div>
</body>

</html>

<script>
  // 投稿タブ リロードしても維持
  $(document).on('turbolinks:load', function () {
    $("a[data-bs-toggle='pill']").on('click', function (e) {
      localStorage.setItem('activeTab', $(e.target).attr('href'));
    });
    var activeTab = localStorage.getItem('activeTab');
    if (activeTab) {
      $('#pills-tab a[href="' + activeTab + '"]').tab('show');
    }
  });
</script>