<!DOCTYPE html>
<html>

<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= favicon_link_tag('favicon.ico') %>

  <%# 無限スクロール %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>

  <%# ツイッターアイコン使用 %>
  <%# シェアボタンつけないなら削除 %>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
<![endif]-->
</head>

<body>
  <div class="wrapper burger-parent">
    <%# if logged_in? %>
    <%# <div class="burger-child sp-only"> %>
    <%##= render 'layouts/burger' %>
    <%# </div> %>
    <%# end %>
    <aside>
      <div class="pc-only">
        <%= render 'layouts/sidebar' %>
      </div>
    </aside>
    <div class="main footer_fixed">
      <%# <div class="main footer_fixed bg-danger"> %>
      <div class="box">
        <%# フラッシュ ajax化 %>
        <div id="flash_message">
          <%= render 'layouts/flash' %>
        </div>
        <%# 他のhtml.erb読み込み↓ %>
        <%= yield %>
        <%= debug(params) if Rails.env.development? %>
      </div>
      <footer class="bg-dark text-white p-4">&copy;2021 Bookworm</footer>
    </div>
  </div>
</body>

</html>