<!DOCTYPE html>
<html>

<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= favicon_link_tag('favicon.ico') %>

  <%# ツイッターアイコン使用 %>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
<![endif]-->
</head>

<body>
  <div class="container burger-parent">
    <div class="burger-child sp-only">
      <%= render 'layouts/burger' %>
    </div>
    <div class="row">
      <aside class="col-sm-2 px-0">
        <div class="pc-only">
          <%= render 'layouts/sidebar' %>
        </div>
      </aside>
      <div class="pt-3 col-md-9 mx-auto">
        <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
        <%# 他のhtml.erb読み込み↓ %>
        <%= yield %>
        <%= debug(params) if Rails.env.development? %>
      </div>
    </div>
    <footer class="bg-dark text-white p-4">&copy;2021 Bookworm</footer>
  </div>
</body>

</html>